<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100028169119851"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/__d.h.a.r.m__/"><i class="fa-brands fa-square-instagram" style="color: red;"></i></a>
            <a href="https://www.linkedin.com/in/dharmendra-vishvkarma-969a1924a/"> <i class="fa-brands fa-linkedin" style="color: rgb(11, 11, 171);"></i></a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Termas</a>
        </div>
    </div>
</footer>